* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #222;
  color: #fff;
}
.header .nav-toggle {
  display: none;
}
.header .nav {
  display: flex;
  gap: 1rem;
  position: relative;
}
.header .nav .nav-btn {
  background: none;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  font-size: 13px;
}
.header .nav .nav-btn:focus {
  background: rgba(59, 59, 59, 0.5843137255);
  color: #909090;
}
.header .nav .nav-btn:hover {
  background: rgba(59, 59, 59, 0.5843137255);
  color: #909090;
}
.header .nav .nav-btn:hover a {
  background: none;
  color: #909090;
  border: none;
}
.header .nav .nav-btn a {
  text-decoration: none;
  color: #fff;
  border: none;
}
.header .nav .dropdown-content {
  position: absolute;
  left: 0;
  top: calc(100% + 0.2rem);
  border: 2px solid #7bc1bc;
  background-color: #fff;
  min-width: 15em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
  transform: translateY(-10px);
  pointer-events: none;
  opacity: 0;
  transition: 350ms ease-out;
}
.header .nav .dropdown-content a {
  color: #222;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 450ms ease-out;
}
.header .nav .dropdown-content a:hover {
  background-color: #cecece;
  color: #ffffff;
}
.header .nav .show {
  z-index: 1;
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}
@media only screen and (max-width: 1250px) {
  .header .nav-toggle {
    display: flex;
    z-index: 2;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
  }
  .header .nav-toggle:hover {
    background-color: rgba(59, 59, 59, 0.5843137255);
  }
  .header .nav {
    opacity: 0;
    display: flex;
    position: absolute;
    left: 0;
    top: 5em;
    z-index: 1000;
    flex-direction: column;
    margin-left: 2em;
    padding: 2em;
    background: #222;
    pointer-events: none;
    transform: translateX(-120%);
    transition: 350ms ease-out;
  }
  .header .nav .dropdown-content {
    position: absolute;
    left: 100%;
    top: 10%;
    border: 2px solid #7bc1bc;
    background-color: #fff;
    min-width: 15em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: -1;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    transform: translateX(-10px);
    pointer-events: none;
    opacity: 0;
    transition: 350ms ease-out;
  }
  .header .nav .dropdown-content a {
    color: #222;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 450ms ease-out;
  }
  .header .nav .dropdown-content a:hover {
    background-color: #cecece;
    color: #ffffff;
  }
  .header .nav .show {
    z-index: 1;
    opacity: 1;
    transform: translateX(0px);
    pointer-events: auto;
  }
  .header .nav.aria-expanded {
    opacity: 1;
    pointer-events: all;
    transform: translateX(-22%);
  }
}
.header .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
}
@media only screen and (max-width: 555px) {
  .header .title {
    font-size: 1rem;
  }
}
.header .auth-wrapper {
  display: flex;
  transition: 0.3s;
}
.header .auth-wrapper .login-btn {
  display: flex;
  background: rgba(255, 255, 255, 0.0431372549);
  color: #e1e0e0;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 28px;
  transition: 0.3s;
}
.header .auth-wrapper .login-btn:focus {
  background: #222;
  color: #909090;
}
.header .auth-wrapper .login-btn:hover {
  background: #222;
  color: #909090;
}
.header .auth-wrapper #logoutSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .auth-wrapper #logoutSection #userNameDisplay {
  display: flex;
}
.header .auth-wrapper #logoutSection #logoutButton {
  background: rgba(255, 255, 255, 0.0431372549);
  color: #e1e0e0;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 28px;
  transition: 0.3s;
}
.header .auth-wrapper #logoutSection #logoutButton:focus {
  background: #222;
  color: #909090;
}
.header .auth-wrapper #logoutSection #logoutButton:hover {
  background: #222;
  color: #909090;
}
.header .auth-wrapper .dropdown-login {
  position: absolute;
  right: 0;
  top: 4rem;
  border: 2px solid #7bc1bc;
  background-color: #fff;
  min-width: 18em;
  min-height: 20em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
  transform: translateY(-10px);
  pointer-events: none;
  padding: 20px;
  opacity: 0;
  transition: 350ms ease-out;
}
.header .auth-wrapper .dropdown-login .login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.header .auth-wrapper .dropdown-login .login-wrapper h3 {
  font-size: 1.2rem;
  color: #333;
}
.header .auth-wrapper .dropdown-login .login-wrapper .login-username {
  width: 80%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
}
.header .auth-wrapper .dropdown-login .login-wrapper .login-username:focus {
  border-color: #3498db;
  outline: none;
}
.header .auth-wrapper .dropdown-login .login-wrapper .login-password {
  width: 80%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
}
.header .auth-wrapper .dropdown-login .login-wrapper .login-password:focus {
  border-color: #3498db;
  outline: none;
}
.header .auth-wrapper .dropdown-login .login-acc {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  background-color: #333;
  color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.header .auth-wrapper .dropdown-login .login-acc:hover {
  background-color: #2980b9;
}
.header .auth-wrapper .show {
  z-index: 1;
  opacity: 1;
  transform: translateX(0px);
  pointer-events: auto;
}

.overlay {
  opacity: 0;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -100;
  transition: 350ms ease-out;
}

.overlay.active {
  opacity: 1;
  z-index: 1000;
}

.main {
  flex: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.main .intro {
  margin-bottom: 2rem;
  padding-left: 7%;
  padding-right: 7%;
}
.main .intro .title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.main .intro .description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.main .user-management {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}
.main .user-management .section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333544;
}
.main .user-management .search-section {
  margin-bottom: 1.5rem;
}
.main .user-management .search-section .search-wrapper {
  display: flex;
  justify-content: center;
}
.main .user-management .search-section .search-wrapper .search-input {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}
.main .user-management .search-section .search-wrapper .search-input:focus {
  border-color: #333544;
  outline: none;
}
.main .user-management .user-table {
  width: 100%;
  border-collapse: collapse;
}
.main .user-management .user-table thead {
  background-color: #333544;
  color: white;
}
.main .user-management .user-table thead th {
  padding: 0.75rem;
  text-align: left;
  font-size: 1rem;
}
.main .user-management .user-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.main .user-management .user-table tbody tr:hover {
  background-color: #e6e6e6;
}
.main .user-management .user-table tbody tr td {
  padding: 0.75rem;
  font-size: 0.9rem;
  text-align: left;
}
.main .user-management .user-table tbody tr td .role-dropdown {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  background-color: white;
  cursor: pointer;
}
.main .user-management .user-table tbody tr td .role-dropdown:focus {
  border-color: #333544;
  outline: none;
}
.main .user-management .user-table tbody tr td .update-role-btn {
  padding: 0.5rem 1rem;
  background-color: #333544;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.main .user-management .user-table tbody tr td .update-role-btn:hover {
  background-color: #ffcc00;
}
.main .pictures-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
@media (min-width: 768px) {
  .main .pictures-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.main .pictures-grid .picture-item {
  background: #fff;
  box-shadow: hsla(0, 0%, 0%, 0.2) 2px 2px 5px;
  min-height: 10rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 20px;
}
.main .pictures-grid .picture-item .picture-image {
  box-shadow: hsla(0, 0%, 0%, 0.4) 2px 2px 5px;
  margin-bottom: 0.5rem;
  border-radius: 28px;
}
.main .registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.main .registerContainer .spaceRegister {
  min-height: 0.5rem;
  min-width: 90%;
  max-width: 90%;
  background-color: #333;
  margin-bottom: 2rem;
  border-radius: 28px;
}
.main .registerContainer .register-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 35rem;
}
.main .registerContainer .register-input-wrapper .register-heading-wrapper {
  display: flex;
  align-items: left;
  width: 80%;
}
.main .registerContainer .register-input-wrapper .register-user-input {
  width: 80%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
}
.main .registerContainer .register-input-wrapper .register-user-input:focus {
  border-color: #3498db;
  outline: none;
}
.main .registerContainer #registerNewUser {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  background-color: #333;
  color: #ffffff;
}
.main .registerContainer #registerNewUser:hover {
  background-color: #2980b9;
}
.main .button-container-intro {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-bottom: 1rem;
}
.main .game-btn {
  background: #5865f2;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.main .game-btn:hover {
  background: #4752c4;
}
.main .space {
  min-height: 0.5rem;
  min-width: 90%;
  max-width: 90%;
  background-color: #333;
  margin-bottom: 2rem;
  border-radius: 28px;
  margin-left: 5%;
}
.main .news {
  margin-bottom: 2rem;
  padding-left: 7%;
  padding-right: 7%;
}
.main .news .news-section-heading {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 2em;
}
.main .news .news-section-heading .section-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.main .news .news-section-heading #togglenewsForm,
.main .news .news-section-heading #togglenewsFormP,
.main .news .news-section-heading #togglenewsFormE,
.main .news .news-section-heading #togglenewsFormM,
.main .news .news-section-heading #toggleannouncementFormP,
.main .news .news-section-heading #toggleannouncementFormE,
.main .news .news-section-heading #toggleannouncementFormM {
  display: none;
  margin-left: 2rem;
  padding: 1rem 1.5rem;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.main .news .news-section-heading #togglenewsForm:hover,
.main .news .news-section-heading #togglenewsFormP:hover,
.main .news .news-section-heading #togglenewsFormE:hover,
.main .news .news-section-heading #togglenewsFormM:hover,
.main .news .news-section-heading #toggleannouncementFormP:hover,
.main .news .news-section-heading #toggleannouncementFormE:hover,
.main .news .news-section-heading #toggleannouncementFormM:hover {
  background-color: #2980b9;
}
.main .news .search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.main .news .search-section .search-wrapper {
  width: 80%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
.main .news .search-section .search-wrapper input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.75rem;
  font-size: 1rem;
  color: #333;
}
.main .news .search-section .search-wrapper input::-moz-placeholder {
  color: #aaa;
}
.main .news .search-section .search-wrapper input::placeholder {
  color: #aaa;
}
.main .news .news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
@media (min-width: 768px) {
  .main .news .news-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.main .news .news-grid .news-item {
  background: #fff;
  min-height: 10rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  word-wrap: break-word;
}
.main .news .news-grid .news-item .news-header {
  display: flex;
  align-items: center;
  position: relative;
}
.main .news .news-grid .news-item .news-header .news-heading {
  font-size: 1.25rem;
}
.main .news .news-grid .news-item .news-header .togglenewsOptions,
.main .news .news-grid .news-item .news-header .toggleannouncementsOptions {
  position: absolute;
  top: 0;
  right: 0;
}
.main .news .news-grid .news-item .news-header .togglenewsOptions .more-options-icon-news,
.main .news .news-grid .news-item .news-header .toggleannouncementsOptions .more-options-icon-news {
  cursor: pointer;
  transition: 350ms ease-out;
}
.main .news .news-grid .news-item .news-header .togglenewsOptions .more-options-icon-news:hover,
.main .news .news-grid .news-item .news-header .toggleannouncementsOptions .more-options-icon-news:hover {
  background-color: #dfdfdf;
}
.main .news .news-grid .news-item .news-header .togglenewsOptions .more-options-icon-announcements,
.main .news .news-grid .news-item .news-header .toggleannouncementsOptions .more-options-icon-announcements {
  cursor: pointer;
  transition: 350ms ease-out;
}
.main .news .news-grid .news-item .news-header .togglenewsOptions .more-options-icon-announcements:hover,
.main .news .news-grid .news-item .news-header .toggleannouncementsOptions .more-options-icon-announcements:hover {
  background-color: #dfdfdf;
}
.main .news .news-grid .news-item .news-date {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.main .news .news-grid .news-item .news-content {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.main .news .news-grid .news-item .news-options-dropdown {
  position: absolute;
  right: 0;
  top: -50%;
  border: 2px solid #6b8987;
  background-color: #fff;
  min-width: 4em;
  min-height: 5em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
  transform: translateX(10px);
  pointer-events: none;
  padding: 15px;
  opacity: 0;
  transition: 350ms ease-out;
}
.main .news .news-grid .news-item .news-options-dropdown .options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.main .news .news-grid .news-item .news-options-dropdown .options-wrapper .toggleeditnewsForm,
.main .news .news-grid .news-item .news-options-dropdown .options-wrapper .deleteNews {
  padding: 0.5rem 1rem;
  min-width: 4.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}
.main .news .news-grid .news-item .news-options-dropdown .options-wrapper .toggleeditnewsForm {
  background-color: #333;
  color: #ffffff;
}
.main .news .news-grid .news-item .news-options-dropdown .options-wrapper .toggleeditnewsForm:hover {
  background-color: #2980b9;
}
.main .news .news-grid .news-item .news-options-dropdown .options-wrapper .deleteNews {
  background-color: #333;
  color: #ffffff;
}
.main .news .news-grid .news-item .news-options-dropdown .options-wrapper .deleteNews:hover {
  background-color: #c0392b;
}
.main .news .news-grid .news-item .news-options-dropdown.show {
  z-index: 1;
  opacity: 1;
  transform: translateX(-32px);
  pointer-events: auto;
}
.main .news .news-grid .news-item.hide {
  display: none;
}
.main .news .editnewsForm,
.main .news .editannouncementsForm {
  opacity: 0;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  min-height: 300px;
  min-width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: -100;
  transition: 350ms ease-out;
}
.main .news .editnewsForm .news-edit-wrapper,
.main .news .editannouncementsForm .news-edit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.main .news .editnewsForm .news-edit-wrapper h3,
.main .news .editannouncementsForm .news-edit-wrapper h3 {
  font-size: 1.2rem;
  color: #333;
}
.main .news .editnewsForm .news-edit-wrapper .news-form-edit-title,
.main .news .editnewsForm .news-edit-wrapper .news-form-edit-content,
.main .news .editannouncementsForm .news-edit-wrapper .news-form-edit-title,
.main .news .editannouncementsForm .news-edit-wrapper .news-form-edit-content {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
}
.main .news .editnewsForm .news-edit-wrapper .news-form-edit-title:focus,
.main .news .editnewsForm .news-edit-wrapper .news-form-edit-content:focus,
.main .news .editannouncementsForm .news-edit-wrapper .news-form-edit-title:focus,
.main .news .editannouncementsForm .news-edit-wrapper .news-form-edit-content:focus {
  border-color: #3498db;
  outline: none;
}
.main .news .editnewsForm #updateNewsEdit,
.main .news .editnewsForm #cancelNewsEdit,
.main .news .editannouncementsForm #updateNewsEdit,
.main .news .editannouncementsForm #cancelNewsEdit {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.main .news .editnewsForm #updateNewsEdit,
.main .news .editannouncementsForm #updateNewsEdit {
  background-color: #333;
  color: #ffffff;
}
.main .news .editnewsForm #updateNewsEdit:hover,
.main .news .editannouncementsForm #updateNewsEdit:hover {
  background-color: #2980b9;
}
.main .news .editnewsForm #cancelNewsEdit,
.main .news .editannouncementsForm #cancelNewsEdit {
  background-color: #333;
  color: #ffffff;
}
.main .news .editnewsForm #cancelNewsEdit:hover,
.main .news .editannouncementsForm #cancelNewsEdit:hover {
  background-color: #c0392b;
}
.main .news .editnewsForm .button-container,
.main .news .editannouncementsForm .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.main .news .editnewsForm.active,
.main .news .editannouncementsForm.active {
  opacity: 1;
  z-index: 1001;
}
.main .news .news-form {
  opacity: 0;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  min-height: 300px;
  min-width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: -100;
  transition: 350ms ease-out;
}
.main .news .news-form .news-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.main .news .news-form .news-form-wrapper h3 {
  font-size: 1.2rem;
  color: #333;
}
.main .news .news-form .news-form-wrapper .news-form-heading {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
}
.main .news .news-form .news-form-wrapper .news-form-heading:focus {
  border-color: #3498db;
  outline: none;
}
.main .news .news-form .news-form-wrapper .news-form-content {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
}
.main .news .news-form .news-form-wrapper .news-form-content:focus {
  border-color: #3498db;
  outline: none;
}
.main .news .news-form #publish-news,
.main .news .news-form #cancel-news {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.main .news .news-form #publish-news {
  background-color: #333;
  color: #ffffff;
}
.main .news .news-form #publish-news:hover {
  background-color: #2980b9;
}
.main .news .news-form #cancel-news {
  background-color: #333;
  color: #ffffff;
}
.main .news .news-form #cancel-news:hover {
  background-color: #c0392b;
}
.main .news .news-form .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.main .news .news-form.active {
  opacity: 1;
  z-index: 1001;
}
.main .news #showMore {
  margin-top: 2em;
  background: #5865f2;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.main .news #showMore:hover {
  background: #4752c4;
}
.main .shop {
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.main .shop .shop-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.main .shop .shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
@media (min-width: 768px) {
  .main .shop .shop-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.main .shop .shop-grid .shop-item {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-height: 10rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.main .shop .shop-grid .shop-item .shop-heading {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.main .shop .shop-grid .shop-item .shop-content {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.main .shop .shop-grid .shop-item .buy-button {
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 28px;
  align-self: flex-end;
  transition: 0.3s;
  margin-top: auto;
}
.main .shop .shop-grid .shop-item .buy-button:hover {
  background: #0056b3;
}
.main .staff {
  margin-bottom: 2rem;
  padding-left: 7%;
  padding-right: 7%;
}
.main .staff .section-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.main .staff .staff-list,
.main .staff .factions {
  list-style: none;
  margin-bottom: 1rem;
}
.main .staff .staff-list li,
.main .staff .factions li {
  background: #fff;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.main .comments {
  padding-left: 7%;
  padding-right: 7%;
}
.main .comments .section-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.main .comments .comment-box {
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  resize: none;
}
.main .comments .publish-btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
.main .comments .publish-btn:hover {
  background: #0056b3;
}
.main .comments .comment-list .comment {
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.main .comments .comment-list .comment p {
  margin-bottom: 0.5rem;
}
.main .comments .comment-list .comment .comment-header {
  display: flex;
  align-items: center;
  position: relative;
}
.main .comments .comment-list .comment .comment-header .comment-username {
  margin-right: 1em;
  font-size: 1.2rem;
  font-weight: bold;
}
.main .comments .comment-list .comment .comment-header .comment-date {
  font-size: 0.8rem;
}
.main .comments .comment-list .comment .comment-header .togglecommentOptions {
  position: absolute;
  top: 0;
  right: 0;
}
.main .comments .comment-list .comment .comment-header .togglecommentOptions .more-options-icon {
  cursor: pointer;
  transition: 350ms ease-out;
}
.main .comments .comment-list .comment .comment-header .togglecommentOptions .more-options-icon:hover {
  background-color: #dfdfdf;
}
.main .comments .comment-list .comment .comment-content {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.main .comments .comment-list .comment .comment-options-dropdown {
  position: absolute;
  right: 0;
  top: -50%;
  border: 2px solid #6b8987;
  background-color: #fff;
  min-width: 4em;
  min-height: 5em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
  transform: translateX(10px);
  pointer-events: none;
  padding: 15px;
  opacity: 0;
  transition: 350ms ease-out;
}
.main .comments .comment-list .comment .comment-options-dropdown .options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.main .comments .comment-list .comment .comment-options-dropdown .options-wrapper .toggleeditcommentForm,
.main .comments .comment-list .comment .comment-options-dropdown .options-wrapper .deleteComment {
  padding: 0.5rem 1rem;
  min-width: 4.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}
.main .comments .comment-list .comment .comment-options-dropdown .options-wrapper .toggleeditcommentForm {
  background-color: #333;
  color: #ffffff;
}
.main .comments .comment-list .comment .comment-options-dropdown .options-wrapper .toggleeditcommentForm:hover {
  background-color: #2980b9;
}
.main .comments .comment-list .comment .comment-options-dropdown .options-wrapper .deleteComment {
  background-color: #333;
  color: #ffffff;
}
.main .comments .comment-list .comment .comment-options-dropdown .options-wrapper .deleteComment:hover {
  background-color: #c0392b;
}
.main .comments .comment-list .comment .comment-options-dropdown.show {
  z-index: 1;
  opacity: 1;
  transform: translateX(-32px);
  pointer-events: auto;
}
.main .editcommentForm {
  opacity: 0;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  min-height: 300px;
  min-width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: -100;
  transition: 350ms ease-out;
}
.main .editcommentForm .comment-edit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.main .editcommentForm .comment-edit-wrapper h3 {
  font-size: 1.2rem;
  color: #333;
}
.main .editcommentForm .comment-edit-wrapper .comment-form-content {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
}
.main .editcommentForm .comment-edit-wrapper .comment-form-content:focus {
  border-color: #3498db;
  outline: none;
}
.main .editcommentForm #updateEdit,
.main .editcommentForm #cancelEdit {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.main .editcommentForm #updateEdit {
  background-color: #333;
  color: #ffffff;
}
.main .editcommentForm #updateEdit:hover {
  background-color: #2980b9;
}
.main .editcommentForm #cancelEdit {
  background-color: #333;
  color: #ffffff;
}
.main .editcommentForm #cancelEdit:hover {
  background-color: #c0392b;
}
.main .editcommentForm .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.main .editcommentForm.active {
  opacity: 1;
  z-index: 1001;
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: #fff;
}/*# sourceMappingURL=style.css.map */